.login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px
}

.login>p {
  font-weight: 500;
  font-size: 3rem;
}

.button {
  font-size: 1.5rem;
  padding: 15px;
  background: none;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  cursor: pointer;
}

.button>div {
  display: inline-flex;
  justify-content: center;
  padding: 0px 5px
}